{% extends 'base.html' %}
{% block content %}

    <div class="form-ticket-container">
        <div class="form-ticket-box">
            <h2>Ecrire une critique</h2>
            <form class="form-ticket" method="post" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="page" value="{{ request.GET.page }}">
                <button type="submit" tabindex="2">Publier</button>
            </form>
        </div>
    </div>
    
{% endblock content %}