{% load blog_extras %}
{% load static %}

{% for item in tickets_with_reviews %}
    {% with ticket=item.ticket reviews=item.reviews %}
<div id="ticket-{{ ticket.id }}" class="ticket">
    <div class="ticket-header">
        <div class="ticket-user-info">
            <img class="ticket-avatar" src="{{ ticket.user|profile_photo_or_default }}" alt="Profile photo">
            <div class="ticket-details">
                {% if ticket.user == request.user %}
                    <a class="ticket-header__user profile-link" href="{% url 'profile' %}" tabindex="4">
                        Vous
                    </a>
                {% else %}
                    <a class="ticket-header__user profile-link" href="{% url 'user_profile' username=ticket.user.username %}" tabindex="4">
                        {{ ticket.user.username|capitalize_first }}
                    </a>
                {% endif %}
                <p class="ticket-type">For {{ ticket.type }}</p>
            </div>
        </div>
        <h3 class="ticket-header__title">{{ ticket.title }} <br> - {{ ticket.author }} -</h3>
        {% if ticket.user == request.user %}
        <div class="dropdown ticket-dropdown">
            <button class="dropbtn">
                <img src="{% static 'images/btn_menu.png' %}" alt="Options" tabindex="4">
            </button>
            <div class="dropdown-content">
                <a href="{% url 'ticket_edit' ticket.pk %}" tabindex="4">Modifier</a>
                <a href="{% url 'ticket_delete' ticket.pk %}" tabindex="4">Supprimer</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="ticket-content">
        <p class="ticket-content__time">{{ ticket.time_created|get_time_display }}</p>
        <p class="ticket-content__desc">{{ ticket.description }}</p>
        {% if ticket.image and ticket.image.url %}
        <img class="ticket-content__img" src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
        {% else %}
        <img class="ticket-content__img" src="{% static 'images/no_image.png' %}">
        {% endif %}
    </div>

    {% if reviews.exists %}
            {% for review in reviews %}
        <div class="review-container">
            <div class="review-user-info">
            {% if review.user == request.user %}
                <a class="profile-link" href="{% url 'profile' %}" tabindex="4">Vous</a>
                <h3>avait publié une critique</h3>
            {% else %}
                <a class="profile-link" href="{% url 'user_profile' username=review.user.username %}" tabindex="4">{{ review.user.username|capitalize_first }}</a>
                <h3>a publié une critique</h3>
            {% endif %}
            </div>
            <h4>{{ review.time_created|get_time_display }}</h4>
            <div class="review">
                <div class="review-rating">
                    <h5>{{ review.headline }}</h5>
                    <p>
                        {% for i in star_range %}
                            {% if i <= review.rating %}
                                <span class="star star-filled">&#9733;</span>
                            {% else %}
                                <span class="star">&#9733;</span>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <p class="review-body">{{ review.body }}</p>
            </div>
            {% if review.user == request.user %}
                <div class="review-menu">
                    <div class="dropdown">
                        <button class="dropbtn drop-review">
                            <img src="{% static 'images/btn_menu.png' %}" alt="Options">
                        </button>
                        <div class="dropdown-content">
                            <a href="{% url 'review_edit' review.pk %}?page={{ request.GET.page }}" tabindex="4">Modifier</a>
                            <a href="{% url 'review_delete' review.pk %}?page={{ request.GET.page }}" tabindex="4">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    <div class="button-container">
        <a class="button-review" href="{% url 'review_upload' ticket.pk %}?page={{ request.GET.page }}" tabindex="4">Soumettre une critique</a>
    </div>
</div>
{%endwith%}
{% endfor %}
