venv/
env/
htmlcov/
generate_key.py
docs/
__pycache__/
settings_admin.py
*.pyc
*.pyo

.coverage_controllers
.coverage_views
.coveragerc_controllers
.coveragerc_views
.env

*.exe
*.dll
*.so
*.o

qt5_applications/
PySide6/