/*
colors: 
1 : #D4A373
2 : #FAEDCD
*/

/* Style Génral du site */


* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
	background: #f6f5f7;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
}

.avatar {
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-left: 20px;
}

.avatar-link{
    margin: 0;
    padding: 0;
}

.navbar{
	background:white ;
	position: sticky;
	top: 0;
	z-index: 1000;
    display: flex;
    align-items: center;
	justify-content: space-between;
    border-top: 1px solid black;
	border-bottom: 2px solid #D4A373;
	transition: border-bottom-width 0.5s;
}

.navbar h1{
    font-size: 1.5em;
    padding: 5px;
}

.navbar span{
    color: #d99450;
}

.logo{
    width: 60px;
}

.logo-link{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-left{
	padding-left: 15px;
	display: flex;
	align-items: center;
}

.nav-right{
	display: flex;;
	align-items: center;
	padding: 15px;
	justify-content: space-between;
}

.fancy-link {
    font-size: 1.4em;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    position: relative; 
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Soulignement animé */

.fancy-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -30px;
    left: 0;
    background-color: #D4A373;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}

/* Effet de survol */

.fancy-link:hover {
    color: black; 
}

.fancy-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.profile-link {
    cursor: pointer;
    text-decoration: none; 
    font-weight: bold; 
}

.profile-link:hover {
    color: #d99450;
    text-decoration: underline; 
}

.profile-link:active {
    color: #d99450; 
}