
.modal-btn{
  padding: 10px 14px;
  font-size: 18px;
  margin: 100px auto;
  display: block;
  min-width: 150px;
  cursor: pointer;

}

.modal-container{
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 120vw;
  overflow: auto;
  transition: visibility 0.4s;
}

.modal-container.active{
  z-index: 1000;
  visibility: visible;
}

.overlay-modal{
  left: 0;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay-modal{
  opacity: 1;
  transition: opacity 0.4s  ease-out;
}

.modal {
  z-index: 1001;
  opacity: 0;
  width: 95%;
  max-width: 600px;
  min-width: 30px;
  max-height: fit-content;
  padding:30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s  ease-out,
  transform 0.4s ease-out;
}

.modal-container.active .modal{
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close-modal{
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: rgb(144, 34, 34);
  color: #fff;
}


.modal-grid{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 70px 40px 50px auto auto auto;
  gap:  10px;

}

.modal-title{
  grid-column: 1 / span 3 ;
  grid-row: 1 ;
  
}

.modal-img{
  width: 9em;
  grid-column: 4 ;
  grid-row: 1 / span 3;
}

.modal-year{
  grid-column: 1 ;
  grid-row: 2 ;
}

.modal-genres{
  grid-column: 2 ;
  grid-row: 2 ;
}

.modal-duration{
  grid-column: 1;
  grid-row: 3;
}

.modal-country{
  grid-column: 2;
  grid-row: 3;
}

.modal-directors{
  grid-column: 1 / span 2;
  grid-row: 4;
}

.modal-long-description{
  grid-column: 1 / span 4;
  grid-row: 5 ;
}

.modal-actors{
  grid-column: 1 / span 2;
  grid-row: 6;
}

.modal-rated{
  grid-column: 3;
  grid-row: 6;
}

.modal-score{
  grid-column: 4;
  grid-row: 6;
  text-align: right;
}


@media screen and (max-width: 480px) {
    .modal {
        top: 50%; /* Positionnez la modal plus bas sur l'écran */
        transform: translate(-50%, -50%); /* Ajustez uniquement la translation verticale */
        width: 90%; /* Réduisez légèrement la largeur de la modal */
        max-width: 95%; /* Ajustez la largeur maximale de la modal */
        padding: 20px; /* Réduisez l'espacement intérieur de la modal */
    }

    .modal-container {
        top:0;
        margin: 0;
        height: 100%; /* Ajustez la hauteur de la modal container pour couvrir tout l'écran */
        overflow: auto; /* Ajoutez le défilement si nécessaire */
        left: 0;
    }
    .modal-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2em auto 2em 2em auto auto auto;
        align-items: center;
        gap:5px;

    }
    .modal-title{
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: center;
        border-bottom:2px solid black ;
    }
    .modal-year{
        grid-column: 2;
        grid-row: 2;
    }
    .modal-genres{
        grid-column: 1;
        grid-row: 2;
    }
    .modal-country{
        grid-column: 2;
        grid-row: 2;
        text-align: right;
    }
    .modal-score{
        grid-column: 1;
        grid-row: 3;
        text-align: justify;
    }
    .modal-duration{
        grid-column: 2;
        grid-row: 3;
        text-align: right;
    }
    .modal-directors{
        grid-column: 1/ span 2;
        grid-row: 4;
    }
    .modal-img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        grid-column: 1/ span 2;
        grid-row: 5;
    }
    .modal-long-description{
        grid-column: 1 / span 2;
        grid-row: 6;
        max-height: 150px;
        overflow: auto;
        text-overflow: ellipsis;
    }
    .modal-actors{
        grid-column: 1 / span 2;
        grid-row: 7;
    }
    
    .modal-rated{
        display: none;
    }

}
@media screen and (min-width: 481px) and (max-width: 1080px){
  .modal {
    top: 50%; /* Positionnez la modal plus bas sur l'écran */
    transform: translate(-50%, -50%); /* Ajustez uniquement la translation verticale */
    width: 90%; /* Réduisez légèrement la largeur de la modal */
    max-width: 95%; /* Ajustez la largeur maximale de la modal */
    padding: 20px; /* Réduisez l'espacement intérieur de la modal */
}

.modal-container {
    top:0;
    margin: 0;
    height: 100%; /* Ajustez la hauteur de la modal container pour couvrir tout l'écran */
    overflow: auto; /* Ajoutez le défilement si nécessaire */
    left: 0;
}
.modal-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2em auto 2em 2em auto auto auto;
    align-items: center;
    gap:5px;

}
.modal-title{
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
    border-bottom:2px solid black ;
}
.modal-year{
    grid-column: 2;
    grid-row: 2;
}
.modal-genres{
    grid-column: 1;
    grid-row: 2;
}
.modal-country{
    grid-column: 2;
    grid-row: 2;
    text-align: right;
}
.modal-score{
    grid-column: 1;
    grid-row: 3;
    text-align: justify;
}
.modal-duration{
    grid-column: 2;
    grid-row: 3;
    text-align: right;
}
.modal-directors{
    grid-column: 1/ span 2;
    grid-row: 4;
}
.modal-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    grid-column: 1/ span 2;
    grid-row: 5;
    justify-self: center;
}
.modal-long-description{
    grid-column: 1 / span 2;
    grid-row: 6;
    
}
.modal-actors{
    grid-column: 1 / span 2;
    grid-row: 7;
}

.modal-rated{
    display: none;
}

}
